@import "../../../assets/style/colors.scss";

.new-project-container {
  width:100%;
  height:100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    margin: 15px;
  }
}

.new-project-tabs {
  border-top: 3px solid black;
  min-width: 500px;
  max-width: 80vw;
  margin: 20px;
  color: $BLACK_PRIMARY;
  background-color: $WHITE_PRIMARY;
  box-shadow: 2px 3px 8px $BLACK_PRIMARY;
  padding: 0px 20px 0px 20px;
  height: max-content;
  border-radius: 20px;

  * {
    color: $BLACK_SECONDARY;
  }

  .mat-content {
    color: $BLACK_PRIMARY;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;

    .left-container, .right-container {
      width: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .container1 {
        width: 60%;
        margin: 0 15% 0 15%;
        padding: 0 5% 0 5%;
        border-left: 2px solid $BLACK_SECONDARY;
        display: flex;
        flex-direction: column;
        h2 {
          margin-top: 0;
        }
      }
    }
  }

  button.next {
    background-color: $BLACK_PRIMARY;
    float: right;
    margin-bottom: 20px;
    span {
      color: $WHITE_PRIMARY !important;
    }
  }
}


/* Material Components Style */
.mat-tab-body-wrapper, .mat-tab-group {
  height: 100%;
}
.mat-tab-label {
  min-width: 25vw !important;
  padding: 5px;
  background-color: transparent;
  color: $BLACK_PRIMARY;
  font-weight: 700;

  &.mat-tab-label-active {
    background-color: $GREY_SECONDARY;
    z-index: 10;
  }
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 0px;
}
.mat-tab-label-container {
  border-bottom: 2px solid $BLACK_SECONDARY;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $BLACK_PRIMARY;
}

.mat-slider-thumb, mat-slider-focus-ring, .mat-slider-ticks-container, .mat-slider-thumb-label {
  background-color: $BLACK_PRIMARY !important;
}
.mat-slider-thumb-label-text {
  color: $WHITE_PRIMARY !important;
}
.mat-radio-container {
  margin-left: 10px;
}
.mat-radio-outer-circle {
  background-color: $GREY_PRIMARY;
}
.mat-radio-inner-circle {
  background-color: $BLACK_PRIMARY !important;
}
