<div class="register-container">
  <form class="form" (submit)="this.register()">
    <h2>JOIN THE COMMUNITY !</h2>
    <mat-form-field>
      <input matInput name="First Name" placeholder="First Name" [(ngModel)]="form.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Last Name" placeholder="Last Name" [(ngModel)]="form.lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Alias" placeholder="Alias" [(ngModel)]="form.alias">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Email" type="email" placeholder="Email" [(ngModel)]="form.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Password" type="password" placeholder="Password" [(ngModel)]="form.password1">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Repeat Password" type="password" placeholder="Repeat Password" [(ngModel)]="form.password2">
    </mat-form-field>
    <button mat-button type="submit">
      Register
    </button>
  </form>
</div>
