@import '../assets/style/colors';
@import '../assets/style/fonts';

#main-container {
  background-image: url('../assets/images/grey-gradient-background.jpg');
  background-size: cover;
  height: 90vh;
  width: 100%;
}
