@import "../../../assets/style/colors.scss";

$titleMargin: 20px;
$marginBetweenProjects: 30px;

.projects-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  margin-left: $titleMargin;
}

.list {
  width: 100%;
  height: 100%;
  margin-left: $titleMargin;
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-card {
    width: 50vw;
    height: 10vw;
    padding: 5px;
    cursor: pointer;
    margin-bottom: $marginBetweenProjects;
    display: flex;
    flex-direction: column;
    /*border: 2px solid $BLACK_PRIMARY;
    border-radius: 5px;*/

    .projectInformation {
      width: 100%;
      height: 80%;
      display: flex;
      margin: 0;
      padding: 0;

      .projectLogo {
        max-width: 25%;
        height: 100%;
      }
      .projectImage {
        width: 100%;
        height: 100%;
      }
    }

    ul {
      width: 50%;
      margin: 0px 0px 0px 20px;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 5px;
      }
    }
    h2 {
      padding: 0;
      margin: 0;
    }
  }
}

.add-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 30px;
  background-color: $WHITE_PRIMARY;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px $BLACK_PRIMARY;
}

mat-progress-bar {
  height: 10px;
  border-radius: 1px;

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $RED;
  }
}
