@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/style/material-theme.scss';
@import "assets/style/fonts.scss";
@import "assets/style/components.scss";


@include mat-core();

$custom-theme-primary: mat-palette($mat-grey);
$custom-theme-accent: mat-palette($mat-grey, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-grey);

.global-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

*:not(mat-icon){
  font-family: $TEXT_FONT;
}
h1, h2, h3, h4 {
  font-family: $TITLE_FONT;
}
